<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.all @ categories='singleItemInMultifield'}">
  </sly> 
</sly>

<div data-sly-use.model="com.site.myproj.core.models.SingleItemInMultifieldModel">
	<div data-sly-list.item="${model.itemDetails}">
		<p>${item}</p>
    </div>
</div>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${template.placeholder @ isEmpty=!exists, classAppend='cmp-singleItemInMultifield', emptyTextAppend='Author'}">
</sly>